{% extends 'base.html' %}

{% block title %}About CodePerfectPlus{% endblock %}

{% block content %}
<div class="container-fluid bg-light text-secondary text-center page-content">
      <div class="wrapper">
        <div class="post">

    <header class="post-header p-5">
        <h1 class="post-title">This Is A Portfolio Project.</h1>
        <h5 class="post-description"></h5>
    </header>
    <article class="post-content">
        <p>I am a computer scientist mostly interested in <strong>Machine learning </strong>.</p> <br>
        <p>Skilled in Microsoft Word, Excel, Data Science, Public Speaking, As Well As Web Development Knowledge. Strong professional with a 
        Bachelor’s Degree focused in Chemistry from Delhi University and currently pursuing Diploma In Data Science. </p> <br>
                <h3> <strong>Languages and Technologies </strong></h3> <br>
                    <p>Programming Languages –&gt; Python, JavaScript </p>
                    <p>Machine learning, Deep learning, and DataScience</p>
                    <p>Operating System -&gt; Linux, Windows, Android</p>
                    <p>Database -&gt; Postgresql</p>
                    <p>Frameworks and tools –&gt; Flask, Django and React</p>
                    <p>Others – GitHub(codePerfectPlus)</p>
                    <p>Tableau</p>
                
    
                    <a href="mailto:deepak008@gmail.com"><i class="fa fa-envelope-square"></i></a>
                    <a href="https://github.com/codeperfectplus" target="_blank"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.reddit.com/user/perfect9015" target="_blank"><i class="fa fa-reddit-square"></i></a>
                    <a href="https://twitter.com/codeperfectplus" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="https://www.linkedin.com/in/deepak-raj-35887386/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                
            </article>
        </div>
    </div>
</div>

{% endblock %}