{% extends 'base.html' %}
{% load static %}
{% block title %}codeperfectplus{% endblock %}

{% block content %}

{% comment %} Header {% endcomment %}

<header>      
      <div class="view" style="background-image: url('https://cdn.pixabay.com/photo/2017/05/19/06/22/desktop-2325627_960_720.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">        
        <div class="mask rgba-gradient align-items-center">          
          <div class="container">            
            <div class="row">              
              <div class="col-md-6 text-dark text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-weight-bold mt-sm-5">Codeperfectplus</h1>
                <hr class="hr-light">
                <h6 class="mb-4">A Programing Blog.</h6>          
              </div>             
            </div>            
          </div>        
        </div>        
      </div>          
</header>

{% comment %} Main {% endcomment %}
<main>
<div class="container-fluid m-2 p-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
        {% for post in object_list %}
          <a href="{{ post.get_absolute_url }}">
            <h4 class="post-title">  
              {{ post.post_title }}
            </h4></a>
            <h4 class="post-subtitle text-muted">
              {{post.post_subtitle}}
            </h4>  
          <p class="post-meta">Posted by
            <a href="#">Author</a>
            {{post.post_created_on}}</p>
            <hr>
            {% endfor %}
        </div>
</main>
        <!-- Pager -->
            <div class="clearfix">
              <div class="pagination float-right">
                  <span class="step-links">
                {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                      <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
